<!DOCTYPE html>
<html>
<head>
    <title>StreetSafe-AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to StreetSafe-AI</h1>

        <p>Smart Street Dog Management System</p>

        <div class="links">
            <a href="/dog/register">Register a Dog</a><br><br>
            <a href="/complaint">Submit a Complaint</a><br><br>
            <a href="/dashboard">View Dashboard</a>
        </div>
    </div>
</body>
</html>
